.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
 
    img {
      width: 100%;
    }
  }
  .my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
  }
  .other-message {
    background: var(--ion-color-secondary);
    color: #fff;
  }
 
.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}
 
.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    resize: none;
}